.wrapper {
  position: relative;
  padding: 5rem 1.5rem;
  margin: 0 auto;
  width: 600px;
}
.img__react {
  position: absolute;
  z-index: -1;
  left: 75%;
  height: 95vh;
  animation: img__react--roll 350s linear infinite;
}
@keyframes img__react--roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.title {
  margin-top: 0;
  margin-bottom: 5rem;
  text-align: center;
  color: #61dafb;
  text-shadow: 2px 1px 5px rgb(255 255 255 / 60%);
}
.subtitle {
  color: #61dafb;
  text-decoration: underline;
}
